<ul class="nav">
    <li>
       <a href="http://localhost:3000/RickAndMorty">Rick and Morty! </a>
    </li>
    <li>
       <a href='http://localhost:3000/elephant'>Elephants! </a>
    </li>
    <li>
        <a href="http://localhost:3000/memeGenerator">Memes! </a>
    </li>
</ul>